<launch>
  <!-- load configuration -->
  <rosparam
    command="load"
    file="$(find pandora_imu_hardware_interface)/config/pandora_imu_sensor_controller.yaml"
    ns = "/imu"/>

  <!-- spawn controller -->
  <node
    name="imu_sensor_controller_spawner"
    pkg="controller_manager"
    type="spawner" output="screen"
    args="imu_sensor_controller"
    ns = "/imu"/>
</launch>
