<launch>
  <!-- spawn power supply controllers -->
  <include
    file="$(find pandora_xmega_hardware_interface)/launch/power_supply_controller.launch" />

  <!-- spawn range sensor controllers -->
  <include
    file="$(find pandora_xmega_hardware_interface)/launch/range_sensor_controller.launch" />

  <!-- spawn joint states controllers -->
  <include
    file="$(find pandora_xmega_hardware_interface)/launch/joint_states_controller.launch" />
</launch>
