<launch>
  <!-- load configuration -->
  <rosparam
    command="load" 
    file="$(find pandora_hardware_interface)/config/pandora_hardware_interface.yaml" />

  <!-- Launch controller manager with pandora hardware interface-->
  <node
    name="pandora_hardware_interface"
    pkg="pandora_hardware_interface" 
    type="pandora_hardware_interface_node" 
    output="screen"/>
</launch>
