<launch>
    <!-- load configuration -->
  <rosparam
    command="load"
    file="$(find pandora_trax_hardware_interface)/config/trax_hardware_interface.yaml"
    ns="/trax"/>

  <!-- Launch controller manager with pandora hardware interface-->
  <node
    name="trax_hardware_interface_node"
    pkg="pandora_trax_hardware_interface"
    type="trax_hardware_interface_node"
    output="screen"
    ns = "/trax"/>
</launch>
